#! /bin/bash

[alias]
    # 可以在此执行Git本省的命令, 这原本就是Git Alias的能力
    lg=log

    # 可以在此执行各种shell/bash脚本
    # 内部运行
    word="! echo "hello world""
    test = "!f() { echo "hello test alias"; }; f"

    # 允许外部文件
    word2 = "! bash ./.workspace/gitconfigs/word.sh"

# 一些时候我们希望通过git提供的一些能力来增强协作体验和规范, 比如git hooks能力
# 他们可能在内部相互引用不同shell脚本或者其他资源
# 这时候在.git/config处理存在一些风险

# 你也可以在这里更改HooksPath
# [core]
    # hooksPath=""